@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 10px 50px 26px 79px;
}

a {
    text-decoration: none;
}

a {
    position: relative;
    padding: 0.2em 0;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

header h3 {
    color: white;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Crimson Pro';
    border: 1px solid white;
    max-width: 102px;
    padding: 5px;
    float: left;
}

header .rightElement {
    float: right;
}

header .rightElement li {
    display: inline;
    padding-right: 70px;
    cursor: pointer;
}

header .rightElement li a {
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
}

#lastElement {
    padding-right: 0;
}