@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
    box-sizing: border-box;
}

.space {
    margin-left: 14px;
}

.read {
    display: grid;
    grid-template-columns: auto 1fr;
}

body {
    background-color: #181719;
    padding: 10px 50px 26px 79px;
}

a {
    text-decoration: none;
}

a {
    position: relative;
    padding: 0.2em 0;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

header {
    margin-bottom: 130px;
}

header h3 {
    color: white;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Crimson Pro';
    border: 1px solid white;
    max-width: 102px;
    padding: 5px;
    float: left;
}

header .rightElement {
    float: right;
}

header .rightElement li {
    display: inline;
    padding-right: 70px;
    cursor: pointer;
}

header .rightElement li a {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
}

#lastElement {
    padding-right: 0;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

section {
    color: white;
}

section .leftElement h1 {
    font-family: 'Lora';
    font-weight: 500;
    line-height: 46px;
    font-size: 48px;
    margin-bottom: 40px;
}

section .leftElement p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

section .leftElement {
    float: left;
    margin-top: 60px;
    animation: animeText 1s ease-in-out;
}

section .rightElement {
    float: right;
}

section .rightElement .backImg {
    width: 822px;
    height: 587px;
    padding: 30px;
    background-image: url("/assets/imgs/photo1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

section .leftElement .read {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 22px;
    font-size: 19px;
}

section .rightElement .userProfile {
    width: 410px;
    height: 189px;
    background-color: #181719;
    padding: 23px 0 34px 26px;
    position: relative;
    top: -90px;
    float: right;
    right: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dataUser {
    display: flex;
    margin-bottom: 10px;
}

.circle {
    width: 70px;
    height: 70px;
    background-color: green;
    border-radius: 90%;
    background-image: url("./assets/imgs/photo2.png");
    background-size: contain;
}

ul {
    list-style: none;
    padding-left: 20px;
}

h6 {
    display: inline;
}

#name {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 8px;
}

#profession {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: small;
    color: #828282;
    line-height: 15px;
}

p {
    font-family: "Lora";
    font-size: x-large;
    line-height: 31px;
    margin: 0;
    font-weight: bold;
}

section:after {
    content: '';
    display: block;
    clear: both;
}

footer p {
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    font-size: small;
    color: #A9A9A9;
}

#username {
    text-decoration: underline;
}

.hamburger-button {
    background: none;
    border: none;
    position: relative;
    z-index: 10;
    display: none;
}

.hamburger-button__bar {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin-top: 4px;
    transform-origin: 25px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hamburger-button--open .hamburger-button__bar:nth-child(1) {
    transform: rotate(-45deg);
}

.hamburger-button--open .hamburger-button__bar:nth-child(2) {
    opacity: 0;
}

.hamburger-button--open .hamburger-button__bar:nth-child(3) {
    transform: rotate(45deg);
}

.nav {
    display: none;
}

.active {
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .nav {
        display: block;
    }
    .hamburger-button {
        display: block;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background-color: black;
        color: white;
        padding: 32px;
        transition: transform 0.8s ease-in-out, right 0.8s ease-in-out;
        transform: translateX(200px);
        font-size: 2em;
        font-family: Montserrat;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav ul li {
        margin-bottom: 32px;
    }
    .nav--open {
        transform: translateX(-100%);
    }
    .nav--open+.backdrop {
        opacity: 1;
    }
    .backdrop {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        background: rgba(1, 1, 1, 0.5);
        z-index: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    header .rightElement {
        padding-top: 12px;
    }
    body {
        font-size: 62.5%;
        padding: 0;
    }
    header .rightElement #desktop-nav {
        display: none;
    }
    header {
        margin: 0;
    }
    section .leftElement {
        float: none;
        display: block;
        margin: 0;
    }
    section .leftElement h1 {
        font-size: 4em;
        margin: 30px 0 25px 0;
    }
    section .leftElement p {
        font-size: 1.8em;
        margin: 0 0 25px 0;
    }
    section .rightElement {
        width: 100%;
        float: none;
        display: block;
    }
    section .rightElement .backImg {
        width: 99%;
        height: 280px;
        animation: animeBack 1.5s ease-in-out;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    .circle {
        width: 60px;
        height: 60px;
    }
    section .rightElement .userProfile .dataUser {
        margin-bottom: 5px;
    }
    section .rightElement .userProfile {
        max-width: 300px;
        height: 138px;
        right: 10px;
        margin: 0 2px 0 2px;
        padding: 8px;
    }
    section .rightElement .userProfile p {
        font-size: 18px;
        line-height: 24px;
    }
    section .leftElement .read {
        margin-bottom: 26.0px;
    }
    .material-icons {
        font-size: 34px;
    }
}

@keyframes animeText {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animeBack {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}